/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 * Setup
 */
/*
 * colors (website)
 */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300,200,100);
/* line 1, ../scss/lib/_reset.scss */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }

/* line 7, ../scss/lib/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
  text-decoration: none; }

/* line 30, ../scss/lib/_reset.scss */
body {
  line-height: 1; }

/* line 34, ../scss/lib/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 39, ../scss/lib/_reset.scss */
nav ul {
  list-style: none; }

/* line 43, ../scss/lib/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 47, ../scss/lib/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 53, ../scss/lib/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

/* change colours to suit your needs */
/* line 63, ../scss/lib/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
/* line 70, ../scss/lib/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* line 77, ../scss/lib/_reset.scss */
del {
  text-decoration: line-through; }

/* line 81, ../scss/lib/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 86, ../scss/lib/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
/* line 92, ../scss/lib/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* line 101, ../scss/lib/_reset.scss */
input, select {
  vertical-align: middle; }

/* line 105, ../scss/lib/_reset.scss */
ul, li, ol {
  list-style: none; }

/**
 * Gridily
 * 
 * Credits/Inspiration:
 * -------------------
 * Profound Grid: http://profoundgrid-master.dev/
 *
 * @author Julien Henrotte
 * @url http://www.da-ha.be
 */
@font-face {
  font-family: "webbasement";
  src: url("../fonts/webbasement.eot");
  src: url("../fonts/webbasement.eot?#iefix") format("embedded-opentype"), url("../fonts/webbasement.woff") format("woff"), url("../fonts/webbasement.ttf") format("truetype"), url("../fonts/webbasement.svg#webbasement") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 15, ../scss/lib/_fonts.scss */
[data-icon]:before {
  font-family: "webbasement" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 1, ../scss/lib/_animate.scss */
.sponsors .sponsors--list li {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

/* line 11, ../scss/lib/_animate.scss */
[class*='button--'] {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s; }

/* line 1, ../scss/lib/_button.scss */
[class*='button--'] {
  display: inline;
  border: 3px solid #e3e6e8;
  color: #4d5466;
  background-color: transparent;
  padding: .5rem 1.5rem;
  outline: 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  font-size: 1rem;
  text-transform: uppercase;
  margin: .5rem 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 700; }
  /* line 19, ../scss/lib/_button.scss */
  [class*='button--']:hover, [class*='button--']:focus, [class*='button--'].selected {
    background-color: #f4f5f7; }

/* line 46, ../scss/lib/_button.scss */
.button--mail {
  border-color: #14b1d2;
  color: #14b1d2; }
  /* line 49, ../scss/lib/_button.scss */
  .button--mail:hover, .button--mail.selected, .button--mail.disable {
    background-color: #14b1d2;
    color: white; }
  /* line 53, ../scss/lib/_button.scss */
  .button--mail.disable, .button--mail[disabled=disabled], .button--mail:disabled {
    font-size: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    cursor: default; }
    /* line 57, ../scss/lib/_button.scss */
    .button--mail.disable:before, .button--mail[disabled=disabled]:before, .button--mail:disabled:before {
      font-size: 1.3rem;
      content: 'Loading...'; }

/* line 1, ../scss/lib/_base-class.scss */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 62.5%;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
  padding-top: 30px; }
  @media (min-width: 960px) {
    /* line 1, ../scss/lib/_base-class.scss */
    body {
      padding-top: 40px; } }

/* line 14, ../scss/lib/_base-class.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif; }

@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
/* line 24, ../scss/lib/_base-class.scss */
a, button {
  outline: 0; }

/* line 28, ../scss/lib/_base-class.scss */
.left {
  float: left; }

/* line 32, ../scss/lib/_base-class.scss */
.right {
  float: right; }

/* line 36, ../scss/lib/_base-class.scss */
.clearfix {
  clear: both; }

/* line 40, ../scss/lib/_base-class.scss */
.wrapper {
  width: 100%;
  padding: 0 1rem; }
  @media (min-width: 980px) {
    /* line 40, ../scss/lib/_base-class.scss */
    .wrapper {
      width: 960px;
      margin: 0 auto;
      padding: 0; } }

/* line 1, ../scss/module/_header.scss */
.header {
  height: 60px;
  width: 100%;
  background-color: #fefefe;
  border-bottom: 1px solid #e2e7ea;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center; }
  /* line 13, ../scss/module/_header.scss */
  .header .header--logo {
    display: inline-block;
    margin-top: .7rem; }
    /* line 16, ../scss/module/_header.scss */
    .header .header--logo img {
      width: 40px;
      height: auto;
      margin-top: .5rem; }

/* line 1, ../scss/module/_accueil.scss */
.accueil {
  background: url(../img/accueil.jpg) no-repeat;
  background-size: 140%;
  padding-top: 50%;
  width: 100%;
  position: relative; }
  /* line 7, ../scss/module/_accueil.scss */
  .accueil .accueil--content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  /* line 16, ../scss/module/_accueil.scss */
  .accueil .accueil--logo {
    width: 150px; }
    @media (min-width: 50em) {
      /* line 16, ../scss/module/_accueil.scss */
      .accueil .accueil--logo {
        width: 400px; } }
  /* line 22, ../scss/module/_accueil.scss */
  .accueil .accueil--title {
    font-size: 1rem;
    color: white; }
    @media (min-width: 50em) {
      /* line 22, ../scss/module/_accueil.scss */
      .accueil .accueil--title {
        font-size: 2rem; } }

/* line 1, ../scss/module/_concept.scss */
.concept {
  background-color: #2F2E30;
  padding: 1rem 0;
  text-align: center; }
  /* line 5, ../scss/module/_concept.scss */
  .concept .text--text {
    width: 100%;
    color: white;
    font-style: italic; }
    @media (min-width: 50em) {
      /* line 5, ../scss/module/_concept.scss */
      .concept .text--text {
        width: 75%; } }
    @media (min-width: 62em) {
      /* line 5, ../scss/module/_concept.scss */
      .concept .text--text {
        width: 75%; } }

/* line 1, ../scss/module/_sponsor.scss */
.sponsors {
  background-color: #f8f7f5;
  padding: 1rem 0; }
  /* line 4, ../scss/module/_sponsor.scss */
  .sponsors .wrapper {
    text-align: center; }
  /* line 7, ../scss/module/_sponsor.scss */
  .sponsors .sponsors--list {
    text-align: center;
    padding: 1rem 0; }
    /* line 10, ../scss/module/_sponsor.scss */
    .sponsors .sponsors--list li {
      display: inline-block;
      margin: 1rem 2rem; }
      @media (min-width: 960px) {
        /* line 10, ../scss/module/_sponsor.scss */
        .sponsors .sponsors--list li {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
          opacity: 0.6; }
          /* line 16, ../scss/module/_sponsor.scss */
          .sponsors .sponsors--list li:hover {
            filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
            opacity: 1; } }

/* line 1, ../scss/module/_footer.scss */
.footer {
  background-color: #2F2E30;
  color: #939393;
  padding: 1rem 0;
  overflow: hidden;
  text-align: center; }
  @media (min-width: 960px) {
    /* line 1, ../scss/module/_footer.scss */
    .footer {
      text-align: left; } }
  /* line 10, ../scss/module/_footer.scss */
  .footer a {
    color: #939393;
    text-decoration: underline; }
  /* line 14, ../scss/module/_footer.scss */
  .footer hr {
    display: inline-block;
    width: 20px;
    background-color: #939393;
    margin: 1rem auto; }
  /* line 20, ../scss/module/_footer.scss */
  .footer .footer--logowb {
    color: #939393;
    line-height: 0;
    font-size: 3rem;
    display: inline-block;
    vertical-align: top; }
    @media (min-width: 960px) {
      /* line 20, ../scss/module/_footer.scss */
      .footer .footer--logowb {
        font-size: 2rem;
        float: left; } }
  /* line 31, ../scss/module/_footer.scss */
  .footer .footer--list {
    float: right;
    overflow: hidden;
    width: 100%; }
    @media (min-width: 960px) {
      /* line 31, ../scss/module/_footer.scss */
      .footer .footer--list {
        width: calc(100% - 60px); } }
    /* line 38, ../scss/module/_footer.scss */
    .footer .footer--list li {
      float: left;
      width: 100%; }
      @media (min-width: 50em) {
        /* line 38, ../scss/module/_footer.scss */
        .footer .footer--list li {
          width: 25%; } }
      /* line 44, ../scss/module/_footer.scss */
      .footer .footer--list li .footer__list--title {
        font-size: 14px;
        display: inline-block;
        font-weight: 300;
        margin-bottom: 1rem;
        text-transform: uppercase; }
      /* line 51, ../scss/module/_footer.scss */
      .footer .footer--list li .footer__list--text {
        overflow: hidden;
        display: inline-block;
        width: 100%;
        font-size: 10px;
        margin-bottom: .5rem; }

/* line 1, ../scss/ui/_text.scss */
.text--title {
  overflow: hidden;
  width: 100%;
  text-align: center; }
  /* line 5, ../scss/ui/_text.scss */
  .text--title h2 {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: .2rem;
    border-bottom: 2px solid #7c8f9f;
    display: inline-block; }
  /* line 13, ../scss/ui/_text.scss */
  .text--title.dark h2 {
    color: #14b1d2;
    border-bottom-color: #14b1d2; }

/* line 19, ../scss/ui/_text.scss */
.text--title, .text--text {
  color: #7c8f9f;
  margin: 1rem 0; }

/* line 24, ../scss/ui/_text.scss */
.text--text {
  font-size: 16px;
  width: 100%;
  color: #484848;
  font-weight: 400;
  display: inline-block; }
