/*
 * colors (prototype)
 */
$dark: #333;
$medium: #999;
$light: #cfcfcf;
$lighter: #eee;


//Terra nova
$client-color : #DA207A;

$client-color : #39CA74;

$title : #67829d;
$text : #7c8f9f;

/*
 * colors (website)
 */
$lightGray : #212A33;
$lightGrayButton : #e5e9ec;
$darkGray : #8e9499;
$bgGray : #F7F7F7;
$border : #e3e6e8;
$black : #333d46;
$lightBlack : #4d5466;
$green : #35bc7a;
$red : #E33D41;
$orange : #FD8E20;
$purple : #59487f;
$blue : #1e8bc3;
$yellow : #FFB813;
$pink : #ce4664;

// Header

$bgHeader : #f8fafb;
$borderHeader : #e2e7ea;

// SIDEBAR
$bgSide : #2d3441;
$bgSideSelected : #29303a;
$linkSide : #8f9da7;

$baseColorTitle : #8d9ca9;

// element

$header-height-mobile : 100px;
$header-height: 60px;

$sidenav-mobile : 40px;
$sidenav : 250px;