$title : #686868;
$text : #7c8f9f;

/*
 * colors (website)
 */
$lightGray : #212A33;
$lightGrayButton : #e5e9ec;
$darkGray : #8e9499;
$bgGray : #F7F7F7;
$border : #e3e6e8;
$black : #333d46;
$lightBlack : #4d5466;
$green : #35bc7a;
$red : #E33D41;
$orange : #FD8E20;
$purple : #59487f;
$blue : #1e8bc3;
$yellow : #FFB813;
$pink : #ce4664;

$wb-color : #14b1d2;

// Header

$bgHeader : #fefefe;
$borderHeader : #e2e7ea;

$footer-color : #939393;
$bg-footer : #2F2E30;

// SIDEBAR
$bgSide : #2d3441;
$bgSideSelected : #29303a;
$linkSide : #8f9da7;

$baseColorTitle : #8d9ca9;

// element

$header-height-mobile : 100px;
$header-height: 60px;

$sidenav-mobile : 40px;
$sidenav : 250px;