.footer{
	background-color: $bg-footer;
	color: $footer-color;
	padding: 1rem 0;
	overflow: hidden;
	text-align: center;
	@include breakpoint(960px) {
		text-align: left;
	}
	a{
		color: $footer-color;
		text-decoration: underline;
		@extend %animate;
		&:hover{
			color: $wb-color;
		}
	}
	hr{
		display: inline-block;
		width: 20px;
		background-color: $footer-color;
		margin: 1rem auto;
	}
	.footer--logowb{
		color: $footer-color;
		line-height: 0;
		margin-top: -4px;
		font-size: 3rem;
		display: inline-block;
		vertical-align: top;
		@include breakpoint(960px) {
			font-size: 2rem;
			float: left;
		}
	}
	.footer--social{
		width: 100%;
		text-align: center;
		margin-top: 1rem;
		@include breakpoint(960px) {
			width: 7%;
			float: left;
			margin-top: 0rem;
		}
		li{
			display: inline-block;
			margin:1rem .5rem;
			@include breakpoint(960px) {
				margin-top: 0;
			}
			a{
				font-size: 0;
				text-decoration: none;
				span{
					font-size: 1.5rem;
				}
			}
		}
	}
	.footer--list{
		float: right;
		overflow: hidden;
		width: 100%;
		@include breakpoint(960px) {
			width: calc(100% - 60px - 5%);
		}
		li{
			float: left;
			width: 100%;
			@include breakpoint($bp-med) {
				width: 25%;
				text-align: left;
			}			
			.footer__list--title{
				font-size: 14px;
				display: inline-block;
				font-weight: 300;
				margin-bottom: 1rem;
				text-transform: uppercase;
				line-height: 14px;
			}
			.footer__list--text{
				overflow: hidden;
				display: inline-block;
				width: 100%;
				font-size: 12px;
				margin-bottom: .5rem;
			}
		}
	}
}